*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    font-size: 20px;
}

body{
    width: min(375px,100vw);
    height: 120vh;
}

/* Container styling */

.css-container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

/* Top styling */
.css-top{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Logo styling */

.css-logo{
   width: fit-content;
   margin: 0 auto;
   flex: 1;
  position: absolute;
  top: 5%;
}
/* Annoucement styling */

.css-annoncement{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10%;
    flex: 2;
}

/* H1 styling */

h1{
    font-weight: 300;
    font-size: 1.6rem;
    color: #969696;
}

h1 > span{
font-weight: 600;
color: #000;
}

/* annoucement p tag styling */
.css-annoncement > p{
    font-size: 1rem;
    font-weight: 300;
}

/* Form styling */

.css-form{
display: flex;
flex-direction: column;
justify-content: center;
width: 80%;
margin: 0 auto;
flex: 2;
gap: 10%;
}

/* Input box styling */
.css-form > input, .css-btn{
height: min(15vh,50px);
border-radius: 30px;
}

.css-form > input{
 border-color: #969696;
 outline: none;
 padding: 0 10%;
}


/* button styling */
.css-btn{
display: flex;
align-items: center;
justify-content: center;
border: none;
background-color: #4f7df3;
font-size: 0.7rem;
font-weight: 300;
color: white;
}

/* bottom styling */

.css-bottom{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
}

.css-image-holder{
    width: 100%;
}

.css-image-holder > img{
    margin-left: 5%;
    width: 90%;
    display: inline-block;
}
/* Footer styling */

footer{
height: calc(120vh - 90%);
box-sizing: content-box;
}

/* icon styling */

.icons{
    box-sizing: content-box;
    width: 20px;
    padding: 0.2rem;
    border: 1px solid #969696;
    border-radius: 50%;
}

.css-icon{
    width: 40%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.css-copy-icon{
    width: 5%;
    position: relative;
    top: 7px;
    right: 2px;
}

/* copy right styling */
.css-copyright{
    font-size: 0.5rem;
    text-align: center;
    letter-spacing: 0.5px;
}

@media (min-width: 481px) and (max-width: 770px) {

    body{
        width: min(600px,100vw);
        height: min(120vh,800px);
    }

    .css-container{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
    }   

    .css-top{
        flex: 1;
        position: relative;
    }

    .css-logo{
       top: 5%;
     }

     .css-copy-icon{
        width: 5%;
        position: relative;
        top: 7px;
        right: 2px;
    }
}